.additional-text {
    float: left;
    width: 65%;
    background-color: #dcdcdd;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 15px;
    margin: 5px 15px;
}

.additional-text p {
    font-weight: bold;
    line-height: 1.5em;
    color: white;
}

.additional-text h2 {
    color: white;
}