/* HEADER */
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  background-color: #3c3e41;
  height: 100px;
}

.logo img {
  padding: 15px;
}

.site-title {
  color: #fff;
}

.site-title h1 {
  margin-left: 150px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.navbar li {
  padding: 0 15px 0 15px;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

/* FOOTER */
footer {
  background-color: #3c3e41;
  height: 50px;
  margin: 10px;
  clear: both;
}

footer p {
  padding-top: 10px;
  color: #fff;
  text-align: center;
}
/*Additional text, article*/

.additional-text {
  float: left;
  width: 65%;
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 15px;
  margin: 5px 15px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.additional-text p {
  line-height: 1.5em;
}

.skyblue {
  color: aqua;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

/*--------------------------------------*/
/*aside start */
.references {
  float: right;
  width: 30%;
  text-align: center;
  background-color: lightgrey;
}
.profile {
  border: black 2px solid;
}
.profile:hover {
  background-color: rgb(167, 180, 218);
}
.references a {
  text-decoration: none;
  color: white;
}
/*aside finished */
