
/* Header */


/* Nav */


/* section */
section.introduction{
                width: 65%;
                height: 200Px;
                margin: 10px;
                background-color: #fafafa;
}
p#intro{
         padding: 10px;
         font-size: 20px;
}

/* Article */


/* Aside */



/* Footer*/
