/*Additional text, article*/

.additional-text {
    float: left;
    width: 65%;
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 15px;
    margin: 5px 15px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.additional-text p {
    line-height: 1.5em;
}

.skyblue {
    color: aqua;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

/*--------------------------------------*/