body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    box-shadow: 10px 0px 10px 10px gray ;
}
/* Header */


/* Nav */


/* section */
section.introduction{
                width: 60%;
                height: 200Px;
                border: solid 3px black;
                margin: 10px;
}
p#intro{
         padding: 10px;
         font-size: 20px;
}

/* Article */


/* Aside */



/* Footer*/